@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  /* background: #343541; */
  background: #cc0052;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.dev{
  position: relative;
  left: 30%;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.alok{
  width: 40px;
  height: 40px;
  margin-left: 17px;
  border-radius: 20%;
  
}
.me{
  font-weight: bolder;
  /* animation-name: link; */
  animation: link 4s ease infinite;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 19px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes link {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue; }
  75%  {background-color:green; }
  100% {background-color:red;}
}
.me:hover{
  color: green;
}
#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background:#ff0066;
  font-family: Arial, Helvetica, sans-serif;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: white;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  /* background: #40414F; */
   background: #ff4d94;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: black;
  font-size: 18px;

  padding: 10px;
  /* background: transparent; */
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ffcce0;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 10%;
}